<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Add Product</h5>
        </div>
        <div class="card-body">
          <div class="row product-adding">
            <div class="col-xl-5">
              <div class="add-product">
                <div class="row">
                  <div class="col-xl-9 xl-50 col-sm-6 col-9">
                    <ul class="file-upload-product">
                      <li>
                        <b>Display Image:</b>
                      </li>
                      <li>
                        <div class="box-input-file">
                          <input (change)="fileChangeEvent($event)" class="upload" type="file">
                          <img [src]="dDispImage" alt="" class="imgUpload">
                        </div>
                      </li>
                      <li>
                        <image-cropper
                          (cropperReady)="cropperReady()"
                          (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded()"
                          (loadImageFailed)="loadImageFailed()"
                          [aspectRatio]="4 / 4"
                          [imageChangedEvent]="imageChangedEvent"
                          [maintainAspectRatio]="true"
                          [resizeToHeight]="256"
                          [resizeToWidth]="256"
                          format="png"></image-cropper>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xl-3 xl-50 col-sm-6 col-3">
                    <ul class="file-upload-product">
                      <li *ngFor="let item of dProImages; let i=index">
                        <div class="box-input-file">
                          <input (change)="readUrl($event,i)" class="upload" type="file"/>
                          <img [src]="proImagesSrc[i]" alt="" class="imgUpload">
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7">
              <form (ngSubmit)="productForm.valid && addProduct()" [formGroup]="productForm" class="needs-validation"
                    novalidate>
                <div class="add-product-form">
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom01">Title
                      :</label>
                    <input [(ngModel)]="productObj.productTitle" [formControl]="productForm.controls['title']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom01" required type="text">
                    <div *ngIf="productForm.controls.title.touched && productForm.controls.title.errors?.required"
                         class="text text-danger">
                      Title is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom02">Name
                      :</label>
                    <input [(ngModel)]="productObj.productName" [formControl]="productForm.controls['name']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom02" required required type="text">
                    <div *ngIf="productForm.controls.name.touched && productForm.controls.name.errors?.required"
                         class="text text-danger">
                      Name is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0" for="validationCustom03">ArticleID
                      :</label>
                    <input [(ngModel)]="productObj.articleId" [formControl]="productForm.controls['article']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom03" type="text">
                    <div *ngIf="productForm.controls.article.touched && productForm.controls.article.errors?.required"
                         class="text text-danger">
                      Article id is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="exampleFormControlSelect1">Category:</label>
                    <select (change)="chengeValue()" [(ngModel)]="productObj.categories"
                            class="form-control digits col-xl-8 col-sm-7" formControlName="category"
                            id="exampleFormControlSelect1"
                            multiple required>
                      <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>

                    </select>
                  </div>


                  <div *ngIf="showSub" class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="exampleFormControlSelect2">
                      SubCategory
                      :</label>
                    <select [(ngModel)]="productObj.subCategories" class="form-control digits col-xl-8 col-sm-7"
                            formControlName="subcategory"
                            id="exampleFormControlSelect2"
                            multiple required>
                      <option *ngFor="let c of subCategories" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom04">Shipping Price :</label>
                    <input [(ngModel)]="productObj.shippingPrice" [formControl]="productForm.controls['shipprice']"
                           class="form-control col-xl-8 col-sm-7 "
                           id="validationCustom04" required type="number">
                    <div
                      *ngIf="productForm.controls.shipprice.touched && productForm.controls.shipprice.errors?.required"
                      class="text text-danger">
                      Shipping Price is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom05">Selling Price :</label>
                    <input [(ngModel)]="productObj.sellingPrice" [formControl]="productForm.controls['sellprice']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom05" required type="number">
                    <div
                      *ngIf="productForm.controls.sellprice.touched && productForm.controls.sellprice.errors?.required"
                      class="text text-danger">
                      Selling Price is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="exampleFormControlSelect4">
                      Vendor
                      :</label>
                    <select [(ngModel)]="productObj.vendorId" class="form-control digits col-xl-8 col-sm-7"
                            formControlName="subcategory"
                            id="exampleFormControlSelect4" required>
                      <option *ngFor="let c of vendors" [ngValue]="c">{{c}}</option>
                    </select>
                  </div>


                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom06">Min. Quantity
                      :</label>
                    <input [(ngModel)]="productObj.minQuantity" [formControl]="productForm.controls['min']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom06" required type="number">
                    <div *ngIf="productForm.controls.min.touched && productForm.controls.min.errors?.required"
                         class="text text-danger">
                      Field <Code></Code> is required.
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom03" required>Max. Quantity
                      :</label>
                    <input [(ngModel)]="productObj.maxQuantity" [formControl]="productForm.controls['max']"
                           class="form-control col-xl-8 col-sm-7"
                           id="validationCustom07" required type="number">
                    <div *ngIf="productForm.controls.max.touched && productForm.controls.max.errors?.required"
                         class="text text-danger">
                      Field <Code></Code> is required.
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 required" for="validationCustom08">Disclaimer
                      :</label>
                    <textarea [(ngModel)]="productObj.disclaimer" [formControl]="productForm.controls['disclaimer']"
                              class="form-control col-xl-8 col-sm-7"
                              id="validationCustom08" required type="text"></textarea>
                  </div>

                  <div class="form-group row">
                    <label class="col-xl-3 col-md-4"></label>
                    <div class="checkbox checkbox-primary col-md-7">
                      <input (change)="customerInputChange()" [checked]="productObj.customerInputRequired"
                             data-original-title=""
                             formControlName="inputR" id="checkbox-primary-1" title="" type="checkbox">
                      <label for="checkbox-primary-1"> Customer Input Required?</label>
                    </div>
                  </div>
                  <div *ngIf="productObj.customerInputRequired" class="form-group row">
                    <label class="col-xl-3 col-sm-4 mb-0 " for="validationCustom09">Customer Message
                      :</label>
                    <textarea
                      [formControl]="productForm.controls['inputM']"
                      class="form-control col-xl-8 col-sm-7" id="validationCustom09"
                      type="text"></textarea>

                  </div>

                  <div class="form-group row">
                    <label class="col-xl-3 col-sm-4">Add Description :</label>
                    <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                      <quill-editor [styles]="editorStyle" formControlName="desc"
                                    placeholder="Enter Description"></quill-editor>
                      <!-- <ck-editor id="editor1" language="en" [fullPage]="false"></ck-editor> -->
                    </div>
                  </div>

                </div>

                <div class="form-group row mb-0">
                  <span (click)="show()" *ngIf="productForm.invalid" class="text-danger">Form is Invalid</span>
                  <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                    <button class="btn btn-primary mr-1" type="submit">Add</button>
                    <button class="btn btn-light" type="button">Discard</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
