<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Products Sub Category</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="open(content)">Add Sub Category</button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Sub Category</h5>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form  [formGroup]="subcategoryForm" class="needs-validation">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="validationCustom01" class="mb-1">Sub Category Name :</label>
                                            <input class="form-control" id="validationCustom01" [formControl]="subcategoryForm.controls['name']" required [(ngModel)]="categoryObj.name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom02" class="mb-1">Display Name :</label>
                                            <input class="form-control" id="validationCustom02" [formControl]="subcategoryForm.controls['dname']" required [(ngModel)]="categoryObj.displayName" type="text">
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="validationCustom03" class="mb-1" min="1">Placement Order :</label>
                                            <input class="form-control" id="validationCustom03" [formControl]="subcategoryForm.controls['order']" [(ngModel)]="categoryObj.displayOrder" type="number">
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="validationCustom04" class="mb-1">Category :</label>
                                            <select class="custom-select" [(ngModel)]="categoryObj.categoryId" [formControl]="subcategoryForm.controls['category']" id="validationCustom04" required="">
                                                <option value="">--Select--</option>
                                                <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="addSubCategory()" >Save</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">Close</button>
                            </div>
                        </ng-template>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <ng2-smart-table [settings]="settings" [source]="sub_categories"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->